logs
scripts/usage-stats/reports
config.yaml

node_modules/now/node_modules/node-proxy/src/build/
node_modules/now/node_modules/node-proxy/src/.lock-wscript
node_modules/now/node_modules/node-proxy/lib/node-proxy.node

scripts/content-gen/bin
scripts/content-gen/news
scripts/content-gen/lib
scripts/content-gen/img
scripts/content-gen/include
scripts/content-gen/.Python

.DS_Store
*.pyc

.hg*

*.swp
