extends layout

block mainContent
	#loading(data-role='page')
		div(data-role='content') Loading...			

	#landing.page(data-role='page')
		
		div(data-role='header')
			header.logo
				h1 The L Train Notwork
		
		div(data-role='content')
			p(style="margin-top:0;") You are not on the Internet!
			p But, you can still use your device's browser to enjoy the content we've curated for you.
			p Ready to go? Please agree to our terms and services.
			#scroll-container
				#scroll-wrapper
					div 
						strong WeMakeCoolSh.it LLC Web Site Agreement
						p The L Train Notwork Web Site (the "Site") is an information service provided by WeMakeCoolSh.it LLC ("L Train Notwork "), subject to your compliance with the terms and conditions set forth below. PLEASE READ THIS DOCUMENT CAREFULLY BEFORE ACCESSING OR USING THE SITE. BY ACCESSING OR USING THE SITE, YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS SET FORTH BELOW. IF YOU DO NOT WISH TO BE BOUND BY THESE TERMS AND CONDITIONS, YOU MAY NOT ACCESS OR USE THE SITE. L Train Notwork MAY MODIFY THIS AGREEMENT AT ANY TIME, AND SUCH MODIFICATIONS SHALL BE EFFECTIVE IMMEDIATELY UPON POSTING OF THE MODIFIED AGREEMENT ON THE SITE. YOU AGREE TO REVIEW THE AGREEMENT PERIODICALLY TO BE AWARE OF SUCH MODIFICATIONS AND YOUR CONTINUED ACCESS OR USE OF THE SITE SHALL BE DEEMED YOUR CONCLUSIVE ACCEPTANCE OF THE MODIFIED AGREEMENT.
						p 1. Copyright, Licenses and Idea Submissions.
						p The entire contents of the Site are protected by international copyright and trademark laws. The owner of the copyrights and trademarks are L Train Notwork, its affiliates or other third party licensors. YOU MAY NOT MODIFY, COPY, REPRODUCE, REPUBLISH, UPLOAD, POST, TRANSMIT, OR DISTRIBUTE, IN ANY MANNER, THE MATERIAL ON THE SITE, INCLUDING TEXT, GRAPHICS, CODE AND/OR SOFTWARE. You may print and download portions of material from the different areas of the Site solely for your own non-commercial use provided that you agree not to change or delete any copyright or proprietary notices from the materials. You agree to grant to L Train Notwork a non-exclusive, royalty-free, worldwide, perpetual license, with the right to sub-license, to reproduce, distribute, transmit, create derivative works of, publicly display and publicly perform any materials and other information (including, without limitation, ideas contained therein for new or improved products and services) you submit to any public areas of the Site (such as bulletin boards, forums and newsgroups) or by e-mail to L Train Notwork by all means and in any media now known or hereafter developed. You also grant to L Train Notwork the right to use your name in connection with the submitted materials and other information as well as in connection with all advertising, marketing and promotional material related thereto. You agree that you shall have no recourse against L Train Notwork for any alleged or actual infringement or misappropriation of any proprietary right in your communications to L Train Notwork.
						p TRADEMARKS.
						p Publications, products, content or services referenced herein or on the Site are the exclusive trademarks or servicemarks of L Train Notwork. Other product and company names mentioned in the Site may be the trademarks of their respective owners.
						p 2. Use of the Site.
						You understand that, except for information, products or services clearly identified as being supplied by L Train Notwork, L Train Notworkdoes not operate, control or endorse any information, products or services on the Internet in any way. Except for L Train Notwork- identified information, products or services, all information, products and services offered through the Site or on the Internet generally are offered by third parties, that are not affiliated with L Train Notwork a. You also understand that L Train Notwork cannot and does not guarantee or warrant that files available for downloading through the Site will be free of infection or viruses, worms, Trojan horses or other code that manifest contaminating or destructive properties. You are responsible for implementing sufficient procedures and checkpoints to satisfy your particular requirements for accuracy of data input and output, and for maintaining a means external to the Site for the reconstruction of any lost data.
						p YOU ASSUME TOTAL RESPONSIBILITY AND RISK FOR YOUR USE OF THE SITE AND THE INTERNET. L Train Notwork PROVIDES THE SITE AND RELATED INFORMATION "AS IS" AND DOES NOT MAKE ANY EXPRESS OR IMPLIED WARRANTIES, REPRESENTATIONS OR ENDORSEMENTS WHATSOEVER (INCLUDING WITHOUT LIMITATION WARRANTIES OF TITLE OR NONINFRINGEMENT, OR THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE) WITH REGARD TO THE SERVICE, ANY MERCHANDISE INFORMATION OR SERVICE PROVIDED THROUGH THE SERVICE OR ON THE INTERNET GENERALLY, AND L Train Notwork SHALL NOT BE LIABLE FOR ANY COST OR DAMAGE ARISING EITHER DIRECTLY OR INDIRECTLY FROM ANY SUCH TRANSACTION. IT IS SOLELY YOUR RESPONSIBILITY TO EVALUATE THE ACCURACY, COMPLETENESS AND USEFULNESS OF ALL OPINIONS, ADVICE, SERVICES, MERCHANDISE AND OTHER INFORMATION PROVIDED THROUGH THE SERVICE OR ON THE INTERNET GENERALLY. L Train Notwork DOES NOT WARRANT THAT THE SERVICE WILL BE UNINTERRUPTED OR ERROR-FREE OR THAT DEFECTS IN THE SERVICE WILL BE CORRECTED.
						p YOU UNDERSTAND FURTHER THAT THE PURE NATURE OF THE INTERNET CONTAINS UNEDITED MATERIALS SOME OF WHICH ARE SEXUALLY EXPLICIT OR MAY BE OFFENSIVE TO YOU. YOUR ACCESS TO SUCH MATERIALS IS AT YOUR RISK. L Train Notwork HAS NO CONTROL OVER AND ACCEPTS NO RESPONSIBILITY WHATSOEVER FOR SUCH MATERIALS.
						p LIMITATION OF LIABILITY
						p IN NO EVENT WILL L Train Notwork BE LIABLE FOR (I) ANY INCIDENTAL, CONSEQUENTIAL, OR INDIRECT DAMAGES (INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, BUSINESS INTERRUPTION, LOSS OF PROGRAMS OR INFORMATION, AND THE LIKE) ARISING OUT OF THE USE OF OR INABILITY TO USE THE SERVICE, OR ANY INFORMATION, OR TRANSACTIONS PROVIDED ON THE SERVICE, OR DOWNLOADED FROM THE SERVICE, OR ANY DELAY OF SUCH INFORMATION OR SERVICE. EVEN IF L Train Notwork OR ITS AUTHORIZED REPRESENTATIVES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, OR (II) ANY CLAIM ATTRIBUTABLE TO ERRORS, OMISSIONS, OR OTHER INACCURACIES IN THE SERVICE AND/OR MATERIALS OR INFORMATION DOWNLOADED THROUGH THE SERVICE. BECAUSE SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IN SUCH STATES, L Train Notwork LIABILITY IS LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.
						p L Train Notwork makes no representations whatsoever about any other web site which you may access through this one or which may link to this Site. When you access a non-L Train Notwork web site, please understand that it is independent from L Train Notwork, and that L Train Notwork has no control over the content on that web site. In addition, a link to a L Train Notwork web site does not mean that L Train Notwork endorses or accepts any responsibility for the content, or the use, of such web site.
						p 3. Indemnification.
						You agree to indemnify, defend and hold harmless L Train Notwork, its officers, directors, employees, agents, licensors, suppliers and any third party information providers to the Service from and against all losses, expenses, damages and costs, including reasonable attorneys' fees, resulting from any violation of this Agreement (including negligent or wrongful conduct) by you or any other person accessing the Service.
						p 4. Third Party Rights.
						The provisions of paragraphs 2 (Use of the Service), and 3 (Indemnification) are for the benefit of L Train Notwork and its officers, directors, employees, agents, licensors, suppliers, and any third party information providers to the Service. Each of these individuals or entities shall have the right to assert and enforce those provisions directly against you on its own behalf.
						p 5.Term; Termination.
						This Agreement may be terminated by either party without notice at any time for any reason. The provisions of paragraphs 1 (Copyright, Licenses and Idea Submissions), 2 (Use of the Service), 3 (Indemnification), 4 (Third Party Rights) and 6 (Miscellaneous) shall survive any termination of this Agreement.
						p 6.Miscellaneous.
						This Agreement shall all be governed and construed in accordance with the laws of The United States of America applicable to agreements made and to be performed in The United States of America. You agree that any legal action or proceeding between L Train Notwork and you for any purpose concerning this Agreement or the parties' obligations hereunder shall be brought exclusively in a federal or state court of competent jurisdiction sitting in The United States of America . Any cause of action or claim you may have with respect to the Service must be commenced within one (1) year after the claim or cause of action arises or such claim or cause of action is barred. L Train Notwork's failure to insist upon or enforce strict performance of any provision of this Agreement shall not be construed as a waiver of any provision or right. Neither the course of conduct between the parties nor trade practice shall act to modify any provision of this Agreement. L Train Notwork may assign its rights and duties under this Agreement to any party at any time without notice to you.
						p Any rights not expressly granted herein are reserved.
						br
						br

			form
				button#agreed-to-term I Agree
				div 
					label 
						input.hide-legal(type='checkbox', data-role='none')
						span Don't show this page again. 

	#home.page(data-role='page')
		div(data-role='header')
			header.logo
				h1 The L Train Notwork

		div(data-role='content')
			div.col
				ul.home-list.category-list
					li
						a(href='#word-category', rel='internal') Words
	
					li
						a(href='/category/images') Images
	
					li
						a(href='/category/feeds') Feeds
	
					li
						a.inline(href='#about', rel='internal') About
					li
						a.inline(href='#contact', rel='internal') Contact

				h2 Featured
				ul.featured-list
					li
						a(href='/miss-connection', rel='external') Train Connections
						p(class='white') Chat and Connect with other interesting commuters

			div.featured-content
				h2 Today's Featured
				.featured.feed-links

			div.featured-content
				h2 Feeds
				.feeds.feed-links


		div.footer(data-role='footer')
			div(data-role='navbar')
				ul
					li
						a(href='#about') About
					li
						a(href='#contact') Contact Us 



	#category.page(data-role='page')
		
		div(data-role='header')
			header.logo
				a(href='#home')
					h1 The L Train Notwork
		
		div.category-detail(data-role='content')
			h2 Words
			ul.content-feed-list
				li
					a(href='/content-feed/id/1')
						strong title
						p description...

				li
					a(href='/content-feed/id/1')
						strong title
						p description...

				li
					a(href='/content-feed/id/1')
						strong title
						p description...

				li
					a(href='/content-feed/id/1')
						strong title
						p description...		
	
		div.footer(data-role='footer')
			div(data-role='navbar')
				ul
					li
						a.back(href='#', data-rel='back') Back


	#word-category.page(data-role='page')
		
		div(data-role='header')
			header.logo
				a(href='#home')
					h1 The L Train Notwork
		
		div.category-detail(data-role='content')
			h2 Words

			ul.category-list
				li
					a(style="text-decoration: none", href='/category/poetry') <u>Poems</u> curated by Jon Sands

				li
					a(style="text-decoration: none", href='/category/prose') <u>Stories & Poems</u> curated by 1441 members

				li
					a(style="text-decoration: none", href='/category/literature') <u>Classics</u> courtesy of Project Gutenberg
					
		div.footer(data-role='footer')
			div(data-role='navbar')
				ul
					li
						a.back(href='#', data-rel='back') Back



	#images-category.page(data-role='page')
		
		div(data-role='header')
			header.logo
				a(href='#home')
					h1 The L Train Notwork
		
		div.category-detail(data-role='content')
			h2 Images

			ul.content-feed-list.feed-links

		div.footer(data-role='footer')
			div(data-role='navbar')
				ul
					li
						a.back(href='#', data-rel='back') Back




			
	#content.page(data-role='page')
		
		div(data-role='header')
			header.logo
				a(href='#home')
					h1 The L Train Notwork

		div(data-role='content')
			h2
			div.content-detail
		
	
		div.footer(data-role='footer')
			div(data-role='navbar')
				ul
					li
						a.back(href='#', data-rel='back') Back
	
	
	#about.page(data-role='page')
		
		div(data-role='header')
			header.logo
				a(href='#home')
					h1 The L Train Notwork
		
		div(data-role='content')
			p Hello
			p Welcome to the L Train Notwork brought to you by the creative collective WeMakeCoolSh.it. We make projects for Art and Commerce.
			p We thought the subway would be more interesting with a mobile pirate WiFi intranet (a Notwork), so we made one. On our Notwork you will find a live chat room/dating site, curated content from local authors, poets, and visual artists, news feeds from popular sites, and a few other surprises. 
			p Just to be clear THIS IS NOT THE REAL INTERNET so you won't be able to check your email or browse the web.
			p The MTA is already hard at work with their plans to provide true internet access. In the meantime, please enjoy our little Notwork. 
			p If you have any questions or comments you can reach us at: <a href="mailto:subway@wemakecoolsh.it">subway@wemakecoolsh.it</a>
			div Sincerely
			div Matt and Mark
			div WeMakeCoolSh.it

			br
			h2 Developers
			ul.bio
				li
					.profile
						h3 Sean McIntyre
						img(src="img/authors/sean.png")
						p Sean is Canadian, eats gluten-free, and used to be a figure skater. He lives in Brooklyn and attends ITP.
						p
							a(href="http://www.boxysean.com", title="Sean McIntyre's website")
	
				li
					.profile
						h3 Chee Seng Sim
						img(src="img/authors/sim.jpg")
						p Originally from Malaysia. He is a father, husband and front-end developer, currently living in Brooklyn. He will do whatever it takes to make you eat durian.
						p
							a(href="http://www.simmu.net", title="Chee Seng Sim's website")

				li
					.profile
						p Special thanks to James T and Zohbot.

			br

			h2 Designer
			ul.bio
				li
					.profile
						h3 Yoshi Sodeoka 
						img(src="img/authors/yoshi.jpg")
						p Yoshi Sodeoka is a multidisciplinary artist and musician based in New York City. Over the past decade, his projects have been exhibited across the world (London's Tate Britain, New York city's Deitch Projects, Stockholm's Galleri Jonas Kleerup, Paris' Festival Némo, Baltimore Museum of Art, Scope Art Fair, New York City, London's OneDotZero, Portland's Floating World Animation Fest, Boston's Lumen Eclipse, Barcelona's Sonar Festival, Haifa Museum Israel, San Sebastian's GlasKultur, The Creative Time Holiday Light Show at New York's Grand Central Terminal, Berlin's Transmediale, Poland's Krakow Film Festival, WNET Reel NY.). Sodeoka has received grants from the likes of the Greenwall foundation and his work is part of the permanent collections of the San Francisco MoMA and New York's Museum of the Moving Image.
						p
							a(href="http://www.sodeoka.com", title="Yoshi Sodeoka's website")

			br
			
			h2 WeMakeCoolSh.it
			ul.bio
				li
					.profile
						h3 Mark Krawczuk
						img(src="img/authors/mark.png")
						p Mark Krawczuk is a Producer / Project Manager who has worked in interactive for over 15 years for such companies as R/GA , Organic, Tribal DDB, Ogilvy, Disney, CNN and Adobe. Mark is also an active participant in several arts / cultural projects, many of which he can't talk about. The Lost Horizon Night Market is one of those projects.
			
				li 
					.profile
						h3 Matthew McGregor-Mento
						img(src="img/authors/matt.jpg")
						p Matthew McGregor-Mento is a creative geek who got his start coding his own Atari 800 games in BASIC in elementary school. Over the past 15 years, he's been a creative trailblazer for agencies such as C404, Ogilvy, Tribal, and Mr Youth, working on innovative social media, video, experiential, and kiosk-based interactive projects for clients like Pepsi, Sony, Philips, IBM, Nike, American Express, DHL, MoMA, LEGO and TiVO. Matt's work has been seen by millions of people on Youtube and in the permanent collection of the SFMoMA.

		div.footer(data-role='footer')
			div(data-role='navbar')
				ul
					li
						a.back(href='#', data-rel='back') Back





	
	
	#contact.page(data-role='page')
		
		div(data-role='header')
			header.logo
				a(href='#home')
					h1 The L Train Notwork
		
		div(data-role='content')
			.content
				p Of course we want to hear from you! Fill out the form below and tell us what you're thinking. Fields with an * are mandatory. We look forward to hearing from you. (You can also email us at <a href='mailto:subway@wemakecoolsh.it'>subway@wemakecoolsh.it</a>.)
				form(method="POST", action="/form-submit")
					fieldset
						div.field
							label *Name:
							input.required(type="text", name="name", autocorrect="off", autocapitalize="off")
						div.field
							label *Email:
							input.required(type="text", name="email", type="email", autocorrect="off", autocapitalize="off")
						div.field
							label Phone Number:
							input(type="text", name="phone", type="tel")
						div.field
							label Twitter handle:
							input(type="text", name="twitter", autocorrect="off", autocapitalize="off")
						div.field
							label URL:
							input(type="text", name="url", type="url", autocorrect="off", autocapitalize="off")
						div.field
							label Favorite hiding place:
							input(type="text", name="hidingplace", autocorrect="off")
						div.field
							label *Subject:
							select(name="subject", data-role="none")
								option(value="Love") Love
								option(value="Hate") Hate
								option(value="Question") Question
								option(value="Bug") Bug
								option(value="Other") Other
						div.field
							label Message:
							textarea.required(name="message")
						div.action
							button submit
			
			.success-msg.hide Thank you. Your input is awesome!
	
		div.footer(data-role='footer')
			div(data-role='navbar')
				ul
					li
						a.back(href='#', data-rel='back') Back
block PageScript
	script
		$(function(){
			var PhotoSwipe = window.Code.PhotoSwipe;

			notwork.page.bindEvent();
			notwork.app.initContentFeed();

			setTimeout(function () {
				myScroll = new iScroll('scroll-wrapper',{snap:true});
			}, 500);


		});
			
	
