!!! 5
html
	head
		title='L Train Notwork'
		meta(name='HandheldFriendly', content='True')
		meta(name='MobileOptimized', content='320')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta (name='apple-mobile-web-app-capable' ,content='yes')
		meta(http-equiv='cleartype', content='on')
		link(rel='apple-touch-icon-precomposed', href='/img/l/apple-touch-icon-precomposed.png')
		link(rel='shortcut icon', href='/img/l/apple-touch-icon.png')
		link(rel='stylesheet', href='/stylesheets/jquery.mobile-1.0rc2.css')
		link(rel='stylesheet', href='/js/libs/photoswipe/photoswipe.css')
		link(rel='stylesheet', href='/stylesheets/style.css?v=1')

	#container
		body
			block mainContent

	script(src='/js/libs//photoswipe/klass.min.js')
	script(src='/js/libs/jquery-1.6.4.min.js')
	script(src='/js/libs/jquery.mobile-1.0rc2.min.js')
	script(src='/js/libs/photoswipe/code.photoswipe.jquery-2.1.6.min.js')
	script(src='/js/libs/iscroll/iscroll-lite.js')
	script(src='/js/script.js')
	
	block PageScript	